/* #region BG-Image */
#bg-img
{
    z-index: 1;
    width: 1500px;
    height: calc(100% + 40px);

    position: fixed;
    top: 0;
    transform: translate(0, -40px);

    object-fit: cover;
    object-position: top;
}

.image-overlay
{
    z-index: 2;
    width: min(var(--max-width), 100%);
    
    display: block;
    padding: 2rem;

    position: fixed;
    bottom: 2rem;
    text-align: center;

    color: var(--text-color);
    font-size: x-large;
}

.image-overlay p
{
    padding: 1.5rem 0;
}
/* #endregion */
