:root
{
    /* Defined Variables */
    --base-color: #ffffff;
    --accent-color: #ff0000;
    --panel-color: rgb(200, 200, 200);
    --text-color: #000000;
    --accent-text-color: #ffffff;
    --border-radius-large: 1rem;

    /* Calculated Variables */
    --border-radius-small: calc(var(--border-radius-large) / 2);
}

/* #region Basics */
.panel
{
    background-color: var(--panel-color);

    margin: 1rem;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

hr
{
    margin: calc(1rem + var(--border-radius-small));

    align-self: center;

    border: 1px solid var(--panel-color);
    border-radius: 1px;
}

.flex-half
{
    flex-basis: 50%;
}
/* #endregion */

/* #region Embeds */
.media-embed
{
    height: 100%;
    width: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));

    flex-basis: 50%;
}

.video-embed
{
    aspect-ratio: 16/9;
}

img
{
    object-fit: fill;

    width: 100%;
    height: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}
/* #endregion */

/* #region Text */
header h2, main h2
{
    text-align: center;
    padding-top: 1rem;
}

header p, main p
{
    padding: 1rem 2rem;
    text-align: center;
    font-size: x-large;
}

.link-button
{
    margin: 2rem;
    text-align: center;
}

.link-button a
{
    color: var(--accent-text-color);
    font-size: x-large;
    text-decoration: none;

    background-color: var(--accent-color);

    border: 1rem var(--accent-color) solid;
    border-radius: var(--border-radius-small);
}
/* #endregion */
