:root
{
    /* Defined Variables */
    --base-color: #ffffff;
    --accent-color: #ff0000;
    --panel-color: rgb(200, 200, 200);
    --text-color: #000000;
    --accent-text-color: #ffffff;
    --border-radius-large: 1rem;
    --max-panel-width: 50rem;

    /* Calculated Variables */
    --border-radius-small: calc(var(--border-radius-large) / 2);
}

/* #region Basics */
.panel, .constrained-panel
{
    background-color: var(--panel-color);

    margin: 1rem;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.constrained-panel
{
    margin: 1rem auto;
    width: min(100% - 2rem, var(--max-panel-width));
}

hr
{
    margin: calc(1rem + var(--border-radius-small));

    align-self: center;

    border: 1px solid var(--panel-color);
    border-radius: 1px;
}

.flex-half
{
    flex-basis: 50%;
}
/* #endregion */

/* #region Resizing */
@media screen and (max-width: 950px)
{
    .panel
    {
        margin: 1rem auto;
        width: min(100% - 2rem, var(--max-panel-width));
    }

    hr
    {
        margin: auto;
        width: min(100% - 2rem, var(--max-panel-width));
    }

    .flex-container:has(.video-embed)
    {
        display: block;
    }

    .flex-container:has(iframe)
    {
        display: block;
    }

    .flex-container
    {
        flex-flow: column;
    }
}
/* #endregion */

/* #region Embeds */
.media-embed
{
    height: 100%;
    width: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}

iframe
{
    width: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}

.video-embed
{
    aspect-ratio: 16/9;
}

.audio-embed
{
    margin-left: auto;
    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));

    width: 100%;
}

img
{
    object-fit: fill;

    width: 100%;
    height: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}
/* #endregion */

/* #region Text */
header h2, main h2
{
    text-align: center;
    padding-top: 1rem;
}

header p, main p
{
    padding: 1rem 2rem;
    text-align: center;
    font-size: x-large;
}

.link-button
{
    margin: 2rem;
    text-align: center;
}

.link-button a
{
    color: var(--accent-text-color);
    font-size: x-large;
    text-decoration: none;

    background-color: var(--accent-color);

    border: 1rem var(--accent-color) solid;
    border-radius: var(--border-radius-small);
}
/* #endregion */
