:root
{
    /* Defined Variables */
    --text-color: #000000;
    --accent-text-color: #ffffff;
    --border-radius-large: 1rem;
    --max-panel-width: 50rem;

    /* Calculated Variables */
    --border-radius-small: calc(var(--border-radius-large) / 2);
}

/* #region Basics */
.panel
{
    background-color: var(--panel-color);

    margin: 1rem;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

hr
{
    margin: calc(1.5rem);

    align-self: center;

    border: 1px solid var(--panel-color);
    border-radius: 1px;
}

.flex-half
{
    flex-basis: 50%;
}

.horizontal-row, .locked-horizontal-row
{
    display: flex;
    flex-direction: row;
}
/* #endregion */

/* #region Resizing */
@media screen and (max-width: 950px)
{
    .panel
    {
        margin: 1rem auto;
        width: min(100% - 2rem, var(--max-panel-width));
    }

    hr
    {
        margin: auto;
        width: min(100% - 3rem, var(--max-panel-width) - 1rem);
    }

    .hide-on-resize
    {
        display: none;
    }

    .flex-container:has(.video-embed), .flex-container:has(iframe)
    {
        display: block;
    }

    .flex-container
    {
        flex-flow: column;
        align-items: inherit;
    }
}

@media screen and (max-width: 700px)
{
    .horizontal-row
    {
        flex-direction: column;
    }
}
/* #endregion */

/* #region Embeds */
.media-embed
{
    height: 100%;
    width: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}

iframe
{
    width: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}

.video-embed
{
    aspect-ratio: 16/9;
}

.audio-embed
{
    margin-left: auto;
    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));

    width: 100%;
}

img
{
    object-fit: fill;

    width: 100%;
    height: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}
/* #endregion */

/* #region Text */
header h2, main h2
{
    text-align: center;
    padding-top: 1rem;
}

header p, main p
{
    padding: 1rem 2rem;
    text-align: center;
    font-size: x-large;
}

.link-button
{
    margin: 2rem;
    text-align: center;
}

.link-button a
{
    color: var(--panel-color);
    font-size: x-large;
    text-decoration: none;

    background-color: var(--accent-color);

    border: 1rem var(--accent-color) solid;
    border-radius: var(--border-radius-small);
}
/* #endregion */

/* #region Footer */
footer
{
    background-color: var(--accent-color);
    background: linear-gradient(transparent, var(--panel-color));

    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-button
{
    color: var(--text-color);
    background-color: transparent;

    margin: 0rem 1rem 1rem 1rem;
    padding: 0.5rem 1rem;

    border: 2px solid var(--panel-color);
    border-color: var(--text-color);
    border-radius: 0.5rem;

    transition: border-color 0.25s, background-color 0.25s, color 0.25s
}

#top-button:hover
{
    background-color: var(--text-color);
    color: var(--accent-text-color);
    border-color: var(--text-color);
}
/* #endregion */
