:root
{
    /* Defined Variables */
    --base-color: #7de3ff;
    --text-color: #000000;
    --accent-color: #ca5858;
    --panel-color: #8ff7ff;
    --border-radius-large: 1rem;

    /* Calculated Variables */
    --border-radius-small: calc(var(--border-radius-large) / 2);
}

p
{
    padding: 1rem 4rem;
    text-align: center;
    font-size: x-large;
}

.panel
{
    background-color: var(--panel-color);

    margin: 1rem;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}

.video-embed
{
    padding: 1rem;
    width: 100%;
}

iframe
{
    aspect-ratio: 16/9;
    height: 100%;
    width: 100%;

    border-radius: var(--border-radius-small);
}

hr
{
    margin: calc(1rem + var(--border-radius-small));

    align-self: center;

    border: 1px solid var(--panel-color);
    border-radius: 1px;
}

h2
{
    text-align: center;
    padding-top: 1rem;
}

img
{
    object-fit: fill;
    width: 100%;
    height: 100%;

    padding: 1rem;
    border-radius: calc(1rem + var(--border-radius-small));
}

.vertical-flex
{
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.left-half
{
    display: block;
    width: 50%;
}

.right-half
{
    display: block;
    width: 50%;
}
