:root
{
    /* Defined Variables */
    --base-color: #CA5A59;
    --panel-color: #E06666;
    --accent-color: #0D1116;
}

#pkt-wrapped
{
    aspect-ratio: 1;
}

@media screen and (max-width: 950px)
{
    #organization-text{order:1}
    #organization-img{order:2}
}
