:root
{
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #a74646;
    --secondary-color: #73caab;
    --max-width: 1000px;
    --outline-width: 4px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body
{
    background-color: var(--base-color);
}

nav
{
    margin: 0px auto 2em auto;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 0px 4px var(--outline-width) #aeaeae;
    box-shadow: 0px 0px 10px var(--outline-width) #cbcbcb;
    background-color: var(--base-color);
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

nav li:first-child
{
    font-weight: bold;
    margin-right: auto;
}

nav a
{
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover
{
    text-decoration: underline;
}

header img
{
    width: var(--max-width);
    height: calc(100% + em);
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
}

.flex-container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.image-overlay
{
    text-align: center;
    color: var(--base-color);
    font-size: larger;
    position: absolute;
    bottom: 5rem;
    width: calc(min(var(--max-width), calc(100% - 3rem)) - 2rem);
}
