:root
{
    /* Defined Variables */
    --base-color: #000000;
    --accent-color: #ca5858;
    --text-color: #ffffff;
    --glass-color: #ffffff30;

    --max-width: 1150px;
    --tab-width: 10rem;
    --tab-border-radius: 0.25rem;
    --thin-border-width: 1.5px;
    --hover-tab-animation-duration: 0.25s;
    --fade-blurb-animation-duration: 0.125s;
}

/* #region Foundations */
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body
{
    background-color: var(--base-color);
}
/* #endregion */

/* #region Flex Container */
.flex-container
{
    width: min(100%, --max-width);
    height: 100%;

    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
}
/* #endregion */

/* #region Glass Effect */
.glass
{
    backdrop-filter: blur(4px);
    background: var(--glass-color);
}
/* #endregion */

/* #region Navbar */
#navbar-placeholder ul
{
    z-index: 5;
    position: relative;
    
    width: 100%;
    height: 3.25rem;

    display: flex;
    justify-content: center;
    list-style-type: none;
    
    border-bottom: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

#navbar-placeholder .pageTab
{
    width: var(--tab-width);
    text-align: center;
}

#navbar-placeholder .pageTab:first-child
{
    border-left: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

#navbar-placeholder .pageTab:last-child
{
    border-right: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

#navbar-placeholder .pageTab p, .pageTab a
{
    padding: 1rem 2rem;

    color: var(--text-color);
    text-decoration: none;

    background-color: #ffffff00;
    transition: var(--hover-tab-animation-duration);
    display: block;
}

#navbar-placeholder .pageTab p:hover, .pageTab a:hover, .pageTab p:focus-visible, .pageTab a:focus-visible, .pageTab:focus-within, .pageTab:focus-within
{
    background-color: var(--glass-color);
    transition: var(--hover-tab-animation-duration);
}

#navbar-placeholder .pageTab a:hover, .pageTab a:focus-visible
{
    text-decoration: underline;
}

#navbar-placeholder .pageTabBlurb
{
    width: max-content;
    min-width: 100%;
    height: max-content;

    pointer-events: none;
    display: block;
    opacity: 0;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 0 0 var(--tab-border-radius) var(--tab-border-radius);
    border-left: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
    border-right: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);

    transition: opacity var(--fade-blurb-animation-duration) ease-in-out;
}

#navbar-placeholder .pageTab:hover .pageTabBlurb, .pageTabBlurb:hover, .pageTab:focus-within .pageTabBlurb
{
    pointer-events: all;
    opacity: 1;
}

#navbar-placeholder .pageTabBlurb p, .pageTabBlurb a
{
    padding: 1.25rem 1.5rem;
}
/* #endregion */
