:root
{
    --base-color: #1d492f;
    --text-color: #ffffff;
    --glass-color: #ffffff32;
    --accent-color: #a74646;
    --max-width: 1150px;
    --thin-border-width: 1.5px;
    --hover-animation-duration: 0.25s;
}

/* #region Main */
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body
{
    background-color: var(--base-color);
}

.flex-container
{
    width: min(100%, --max-width);
    height: 100%;

    justify-content: center;

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
/* #endregion */

/* #region Navbar */
nav
{
    width: 100%;

    z-index: 5;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 1rem 0 1rem 0;

    backdrop-filter: blur(4px);
    background: var(--glass-color);
    border-bottom: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);

    box-shadow: 0 0 4px var(--outline-width) #00000075;
    box-shadow: 0 0 10px var(--outline-width) #00000050;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav a
{
    color: var(--text-color);
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #ffffff00;
    transition: var(--hover-animation-duration);
}

nav a:hover
{
    text-decoration: underline;
    background-color: var(--glass-color);
    transition: var(--hover-animation-duration);
}
/* #endregion */

/* #region BG-Image */
header img
{
    z-index: 1;
    position: fixed;
    top: 0;

    width: 1500px;
    height: calc(100% + 40px);
    transform: translate(0, -40px);

    object-fit: cover;
    object-position: top;
}

.image-overlay
{
    z-index: 2;
    width: min(var(--max-width), 100%);
    padding: 2rem;

    display: block;
    text-align: center;

    color: var(--text-color);
    font-size: larger;
}
/* #endregion */
