:root
{
    overscroll-behavior: none;

    /* Defined Variables */
    --base-color: #000000;
    --accent-color: #ca5858;
    --text-color: #ffffff;
    --accent-text-color: #000000;
    --glass-color: #ffffff30;

    --max-width: 1150px;
    --tab-width: 10rem;
    --tab-border-radius: 0.25rem;
    --thin-border-width: 1.5px;
    --hover-tab-animation-duration: 0.25s;
    --fade-blurb-animation-duration: 0.125s;
}

/* #region Foundations */
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html
{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body
{
    background-color: var(--base-color);
}
/* #endregion */

/* #region Flex Container */
.flex-container
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* #endregion */

/* #region Glass Effect */
.glass
{
    backdrop-filter: blur(6px);
    background: var(--glass-color);
}

.semi-glass
{
    backdrop-filter: blur(4px);
    background: var(--glass-color);
}
/* #endregion */

/* #region Buttons */
button
{
    color: var(--text-color);
    background-color: transparent;
    font-size: larger;

    margin: 1rem;
    padding: 0.5rem;
    width: 100%;

    border: 2px solid var(--panel-color);
    border-color: var(--text-color);
    border-radius: 0.5rem;

    transition: border-color 0.25s, background-color 0.25s, color 0.25s
}

button:hover
{
    background-color: var(--text-color);

    color: var(--accent-text-color);
    border-color: var(--text-color);
}

.link-button
{
    color: var(--text-color);
    background-color: transparent;
    font-size: larger;
    text-decoration: none;
    text-align: center;

    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    width: auto;

    border: 2px solid var(--panel-color);
    border-color: var(--text-color);
    border-radius: 0.5rem;

    transition: border-color 0.25s, background-color 0.25s, color 0.25s
}

.link-button:hover
{
    background-color: var(--text-color);

    color: var(--accent-text-color);
    border-color: var(--text-color);
}
/* #endregion */

/* #region Navbar */
nav ul
{
    z-index: 5;
    position: relative;
    
    width: 100%;
    height: 3.25rem;

    display: flex;
    justify-content: center;
    list-style-type: none;
    
    border-bottom: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

#navbar-buffer
{
    position: relative;
    
    width: 100%;
    height: 3.25rem;

    display: flex;
    justify-content: center;
    list-style-type: none;
    
    border-bottom: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

nav .page-tab
{
    width: var(--tab-width);
    height: 3.25rem;
    text-align: center;
}

nav .page-tab:first-child
{
    border-left: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

nav .page-tab:last-child
{
    border-right: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
}

nav .page-tab p, .page-tab a
{
    text-shadow: 0px 2px 4px var(--accent-text-color);
    padding: 1rem 2rem;

    color: var(--text-color);
    text-decoration: none;

    transition: var(--hover-tab-animation-duration);
    display: block;
}

nav .page-tab p:hover, .page-tab a:hover, .page-tab p:focus-visible, .page-tab a:focus-visible, .page-tab:focus-within, .page-tab:focus-within
{
    background-color: var(--glass-color);
    transition: var(--hover-tab-animation-duration);
}

nav .page-tab a:hover, .page-tab a:focus-visible
{
    text-decoration: underline;
}

nav .page-tab-blurb
{
    z-index: -1;

    width: max-content;
    min-width: 100%;
    height: max-content;

    pointer-events: none;
    display: block;
    opacity: 0;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 0 0 var(--tab-border-radius) var(--tab-border-radius);
    border-left: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);
    border-right: var(--thin-border-width) solid rgba(255, 255, 255, 0.25);

    transition: opacity var(--fade-blurb-animation-duration) ease-in-out;
}

nav .page-tab:hover .page-tab-blurb, .page-tab-blurb:hover, .page-tab:focus-within .page-tab-blurb
{
    pointer-events: all;
    opacity: 1;
}

nav .page-tab-blurb p, .page-tab-blurb a
{
    text-shadow: 0px 0px 8px var(--accent-text-color);
    padding: 1.25rem 1.5rem;
}

#navbar-bg
{
    z-index: 2;
    width: 100%;
    height: 3.25rem;

    position: absolute;
}

.page-tab-parent
{
    position: absolute;
}
/* #endregion */
