:root
{
    /* Defined Variables */
    --base-color: #3d384f;
    --panel-color: #4e476a;
    --accent-color: #0D1116;
    --text-color: #ffffff;
    --accent-text-color: #000000;
}

.image-row
{
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 950px)
{
    .first-order{order:1}
    .second-order{order:2}
}
