:root
{
    /* Defined Variables */
    --base-color: #1e211e;
    --panel-color: #242c24;
    --text-color: #ffffff;
    --accent-color: #000000;
}

#main-content
{
    height: 72.5vh;
}

/* #featured
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
} */

@media screen and (max-width: 950px)
{
    #main-content
    {
        height: 100%;
    }

    /* #featured
    {
        position: relative;
    } */
}
