:root
{
    /* Defined Variables */
    --base-color: #1e211e;
    --panel-color: #242c24;
    --text-color: #ffffff;
    --accent-color: #000000;
}

#main-content
{
    height: 73vh; /* Magic number */
}

@media screen and (max-width: 950px)
{
    #main-content
    {
        height: 100%;
    }
}

#portrait
{
    display: flexbox;
    aspect-ratio: 1;
    object-fit: contain;
    height: 100%;
}
