:root
{
    /* Defined Variables */
    --base-color: #1e211e;
    --panel-color: #242c24;
    --text-color: #ffffff;
    --accent-color: #000000;
}

#portrait
{
    max-height: 100vh;
    aspect-ratio: 1;
    object-fit: contain;
}
