:root
{
    /* Defined Variables */
    --base-color: #d4cfc8;
    --panel-color: #eae1d6;
    --text-color: #000000;
    --accent-color: #ffffff;
}

#columns
{
    columns: 2;

}

@media screen and (max-width: 950px)
{
    #columns
    {
        columns: 1;
    }
}
